{% extends "includes/base0.html" %}



{% block title %}Login{% endblock %} 
{% block add_style %}
{% load static %}
<style>
    #loginbox{
        max-width: 600px;
        margin: 0 auto;
        padding: 15px;
    }
</style>
{% endblock %}

{% block content %}
        <br/>
        <br/>
        <div id="loginbox">
            <h4>Welcome to</h4>
            <h2>Cloud <b>Payroll</b></h2>
            <br/>
            <br/>
            {% for message in messages %}
                        <div class="{{ message.tags }}">
                           <b>{{ message }}</b> 
                        </div>
                    {% endfor %}
            <h5>Sign in with your username and password.</h5>
            <br/>
            <br/>
            
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <div>
                  <input type="text" class="" placeholder="Username" id="username" name="username" required>
                  <br/><br/>
                  <input type="password" class="" placeholder="Password" id="password" name="password" required>
                </div>
                <br/>
                <div>
                  <p>
                    <label>
                      <input type="checkbox" />
                      <span>Remember my username</span>
                    </label>
                  </p>
                </div>
                <br/>
                <br/>
                <a href="">Forgot Password?</a>
                <br/>
                <br/>
                <button class="btn waves-effect blue-grey darken-3 waves-light" type="submit" name="action">Sign In
                    <i class="material-icons right">send</i>
                  </button>
            </form>
        </div>
{% endblock %}