html{
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}


p, h1, h2, h3, h4, h5, h6{
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input, select, textarea{
    border: 1px solid gray!important;
    text-indent: 10px;
    border-radius: 5px!important;  
    margin-bottom: 0!important;
}

label{
    padding-left: 10px!important;
    color: black!important;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    height: 50px!important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.warning{
    color: #f78b8b;
}

.success{
    background-color: #d5ffd2;
    border-left: 5px solid green;
}

.modal-content, .modal-header{
    padding: 8px!important;
}

.row{
    margin-bottom: 0!important;
}




