{% extends "includes/base1.html" %}

{% block title %}Employee Rates{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        {% for message in messages %}
    <div class="">
        <div class="card-panel success">
            <span><i class="material-icons left">check_circle</i><b>{{ message }}</b>
            </span>
        </div>
    </div>
    {% endfor %}
        <div class="card">
            <div class="card-action blue-grey darken-4 white-text">
                <span>Employee Rates</span>
                <span class="right"><a class="grey darken-4 modal-trigger" href="#modal1"><i
                    class="material-icons left">add_box</i>Create New</a></span>
            </div>
            <div class="card-content">
                <table id="dtable">
                    <thead>
                        <tr>
                            <th>Rate</th>
                            <th>Unit</th>
                            <th>Amount (Php)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load humanize %}
                        {% if rates %}
                        {% for item in rates %}
                        <tr>
                            <td>{{ item.rate.name }}</td>
                            <td>Daily</td>
                            <th>{{ item.time_rate | intcomma }}</th>
                            <td>
                                <a href="/rates/{{ item.id }}/view/">
                                    <span class="new badge red" data-badge-caption="VIEW"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal Structure -->
<div id="modal1" class="modal" style="max-width: 600px; overflow-x: hidden;">
    <div class="modal-header blue-grey darken-2 white-text">
        <b>CREATE EMPLOYEE RATE</b>
      </div>
    <div class="modal-content">
        <form action="" method="POST" id="ratesForm" autocomplete="off">
            {% csrf_token %}
            <input type="text" id="user_name" value="{{user}}" class="hide">
            <input type="text" id="today" value="{{today|date}}" class="hide">
            <div class="input-field">
                <i class="material-icons prefix">notes</i>
                <input id="name" name="name" type="text" class="validate" required>
                <label for="name">Enter name of employee rate</label>
                <div id="code-danger" class="warning red-text hide">
                    <span ><i class="material-icons left">warning</i>Employee rate already registered. Employee rate name must be unique.</span>
                </div>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">payment</i>
                <input id="time_rate" name="time_rate" type="number" min="0" step="0.01" class="validate" required>
                <label for="time_rate">Enter employee rate (Php)</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class=" waves-effect waves-green btn-flat btn grey darken-4 white-text" type="submit" form="ratesForm" id="formSubmit">
            SUBMIT<i class="material-icons right">send</i>
        </button>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>
<script>
    document.getElementById('name').addEventListener('input', function () {
        var name = document.getElementById('name').value
        name = name.trim();

        $.ajax({
            type: 'POST',
            url: '/ajax/create_rate/',
            data: {
                name: name,
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
            },
            success: function (data) {
                if (data.is_taken) {
                    document.getElementById("formSubmit").setAttribute("disabled", "true");
                    document.getElementById('code-danger').classList.remove('hide');
                }
                else {
                    document.getElementById("formSubmit").removeAttribute("disabled");
                    document.getElementById('code-danger').classList.add('hide');
                }
            }
        });
    })
</script>
{% endblock %}