{% extends "includes/base1.html" %}

{% block title %}Generate Payroll{% endblock %}
{% block add_links %}
{% load static %}
<script src="{% static 'js/litepicker-main.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        {% for message in messages %}
        <div class="">
            <div class="card-panel success">
                <span><i class="material-icons left">check_circle</i> Success: {{ message }}
                </span>
            </div>
        </div>
        {% endfor %}
        <div class="card">
            <div class="card-action grey darken-3 white-text">
                <span>Generate Payroll</span>
            </div>
            <div class="card-content">
                <form method="POST" autocomplete="off" id="rangeForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="litepicker">Select Payroll Date</label>
                            <input id="litepicker" name="litepicker" placeholder="Select Payroll Date">
                            <br /><br />
                            <button class="btn waves-effect waves-light grey darken-3" type="submit"
                                name="action">Generate
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-action grey darken-3 white-text">
                <span>Payroll Details</span>
            </div>
            {% if payroll %}
            <div class="card-content">
                <u><b>Payroll Period: {{start_date|date}} to {{end_date|date}}</b></u>
                
                <br/><br/>
                <table id="dtable" class="striped">
                    <thead>
                        <tr>
                            <th>Employee Number</th>
                            <th>Employee</th>
                            <th>Type</th>
                            <th>Rate</th>
                            <th>Work (days)</th>
                            <th>Gross Pay</th>
                            <th>Total Deductions</th>
                            <th>Taxable Pay</th>
                            <th>Tax</th>
                            <th>Net Pay</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load humanize %}
                        {% if payroll %}
                        {% for item in payroll %}
                        <tr>
                            <td>{{ item.employee.employee_number }}</td>
                            <td>{{ item.employee }}</td>
                            <td>{{ item.rate.rate.rate_period }}</td>
                            <td>{{ item.rate.time_rate | intcomma }}</td>
                            <td>{{ item.attendance | floatformat:"2" | intcomma }}</td>
                            <td>{{ item.gross_pay | floatformat:"2" | intcomma }}</td>
                            <td>{{ item.total_deductions | floatformat:"2" | intcomma }}</td>
                            <td>{{ item.taxable_pay | floatformat:"2" | intcomma }}</td>
                            <td>{{ item.tax | floatformat:"2" | intcomma }}</td>
                            <td>{{ item.net_pay | floatformat:"2" | intcomma }}</td>
                            <td>
                                <a href="/generate_payroll/{{ item.employee.id }}/detail/?start_date={{start_date|date}}&end_date={{end_date|date}}">
                                    <span class="new badge blue" data-badge-caption="VIEW"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="card-content">
                <p>Select payroll date coverage above.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}

<script>
    var picker = new Litepicker({
        element: document.getElementById('litepicker'),
        format: 'YYYY-MM-DD',
        selectForward: true,
        singleMode: false,
        minDays: 1,
        mobileFriendly: true,
        numberOfMonths: 1,
        numberOfColumns: 1,
    });
</script>
<script>
    $(document).ready(function () {
        $('#dtable').DataTable({
            "order": [[6, "desc"]]
        });
    });
</script>

<script>
    document.getElementById('amount').addEventListener('input', function () {
        console.log(document.getElementById('employee').value)
    })
</script>
{% endblock %}