{% extends "includes/base1.html" %}

{% block title %}Employee Attendance{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        {% for message in messages %}
        <div class="">
            <div class="card-panel success">
                <span><i class="material-icons left">check_circle</i> Success: {{ message }}
                </span>
            </div>
        </div>
        {% endfor %}
        <div class="card">
            <div class="card-action grey darken-3 white-text">
                <span>Employee Attendance</span>
            </div>
            <div class="card-content">
                <a class="waves-effect waves-light btn grey darken-3 modal-trigger" href="#modal2"><i
                        class="material-icons left">cloud_upload</i>UPLOAD ENTRIES</a>
                <a class="waves-effect waves-light btn grey darken-3"><i
                        class="material-icons left">file_download</i>DOWNLOAD FILE FORMAT</a>
                <br /><br />
                <a class="waves-effect waves-light btn grey darken-3"><i class="material-icons left">search</i>SEARCH
                    BY</a>
            </div>
        </div>
        <div class="card">
            <div class="card-action grey darken-3 white-text">
                <span>Recent Employee Attendance (100)</span>
            </div>
            <div class="card-content">
                <table id="dtable" class="striped">
                    <thead>
                        <tr>
                            <th>Employee Number</th>
                            <th>Employee</th>
                            <th>Time-In</th>
                            <th>Time-Out</th>
                            <th>Work Time</th>
                            <th>Created/Last Modified</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load humanize %}
                        {% if attendance %}
                        {% for item in attendance %}
                        <tr>
                            <td>{{ item.employee.employee_number }}</td>
                            <td>{{ item.employee }}</td>
                            <td>{{ item.time_in }}</td>
                            <td>{{ item.time_out }}</td>
                            <td>{{ item.work_time | intcomma }}</td>
                            <td>{{ item.last_modified }}</td>
                            <td>
                                <a href="/attendance/{{ item.id }}/view/">
                                    <span class="new badge blue" data-badge-caption="VIEW"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div id="modal2" class="modal" style="max-width: 600px; overflow-x: hidden;">
    <div class="modal-header grey darken-3 white-text">
        <b>UPLOAD DEDUCTION FILE</b>
    </div>
    <div class="modal-content">
        <form method="POST" id="fileForm" name="fileForm" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}

            <div class="row">
                <div class="col s12">
                    <div class="file-field input-field">
                        <div class="btn grey darken-3">
                          <span>Select File</span>
                          <input type="file" id="attendance_file" name="attendance_file">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" placeholder="Select file to upload" required>
                        </div>
                      </div>
                </div>
            </div>

            <div id="code-danger" class="warning red-text hide">
                <span><i class="material-icons left">warning</i>Employee rate already registered. Employee rate name
                    must be unique.</span>
            </div>
            <br /><br />
        </form>
    </div>
    <div class="modal-footer">
        <button class=" waves-effect waves-green btn-flat btn grey darken-3 white-text" type="submit" form="fileForm"
            id="fileSubmit">
            SUBMIT<i class="material-icons right">send</i>
        </button>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>
<script>
    $(document).ready(function () {
        $('#dtable').DataTable({
            "order": [[ 6, "desc" ]]
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>
<script>
    document.getElementById('amount').addEventListener( 'input',function(){
        console.log(document.getElementById('employee').value)
    })
</script>
{% endblock %}