<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Cloud Payroll</title>
    {% include "includes/links.html" %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/helpers.css' %}">
    {% block add_links %}{% endblock %}
    {% block add_style %}{% endblock %}
</head>
<body>
    <nav class="grey darken-3">
        <div class="nav-wrapper">
          <p>&nbsp;Cloud Payroll</p>
        </div>
      </nav>
    <main>
        {% block content %}
        {% endblock %}
        <br/>
        <br/>
        <br/>
        <p class="center">Copyright 2020 | by The Corporation</p>
    </main>
    {% block js_scripts %}
    {% endblock %}
</body>
</html>