<ul id="slide-out" class="sidenav sidenav-fixed black-text">
    <ul class="collapsible expandable">
        <a href="/">
            <li class="active" id="s20">
                <div class="collapsible-header"><i class="material-icons">home</i>Home</div>
            </li>
        </a>
        <li class="active">
            <div class="collapsible-header"><i class="material-icons">group</i>Employee Accounts</div>
            <div class="collapsible-body">
                <ul>
                    <li id="s11"><a href="/employees/">Employees</a></li>
                    <li id="s12"><a href="/rates/">Employee Rates</a></li>
                    <li id="s13"><a href="/deductions/">Deductions</a></li>
                    <li id="s14"><a href="/taxes/">Tax Entries</a></li>
                    <li id="s15"><a href="/attendance/">Employee Attendance</a></li>
                </ul>
            </div>
        </li>
        <li class="active">
            <div class="collapsible-header"><i class="material-icons">list</i>Payroll</div>
            <div class="collapsible-body">
                <ul>
                    <li id="s21"><a href="/generate_payroll/">Generate Payroll</a></li>
                    <li id="s22"><a href="/payroll_history/">Payroll History</a></li>
                </ul>
            </div>
        </li>
        <li class="active">
            <div class="collapsible-header"><i class="material-icons">account_circle</i>My Account</div>
            <div class="collapsible-body">
                <ul>
                    <li id="s31"><a href="/my_profile/">My Profile</a></li>
                    <li id="s32"><a href="/salary_history/">Salary History</a></li>
                    <li id="s33"><a href="/my_taxes/">My Taxes</a></li>
                    <li id="s34"><a href="/my_deductions/">My Deductions</a></li>
                </ul>
            </div>
        </li>
        <a href="/logout/">
            <li>
                <div class="collapsible-header"><i class="material-icons">exit_to_app</i>LOGOUT</div>
            </li>
        </a>

    </ul>

</ul>